body {
    margin: 0px;
    border: 0px;
    padding-top: 10px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 10px;
    text-align: justify;
    font-size: 10pt;
    font-family: Tahoma, Verdana, Sans-Serif;
    background-color: #cccccc;
    background-image: url(../images/back.gif);
}

#MYLayout {
    width: 770px;
    border-top: thin outset;
    border-left: thin outset;
    border-right: thin outset;
    border-bottom: thin outset;
    background-color: #ffffff;
}

#MYHeader {
    height: 85px;
    background-color: steelblue;
    vertical-align: middle;
    text-align: center;
    color: aliceblue;
}

#MYSubHeader {
    height: 35px;
    background-color: #cccccc;
    background-repeat: repeat-x;
    background-position: left top;
    vertical-align: middle;
    text-align: center;
}

#MYMenu {
    width: 150px;
    height: 350px;
    background-color: lightsteelblue;
    padding-right: 20px;
    direction: ltr;
    vertical-align: top;
    color: darkblue;
    overflow-y: auto;
}

#MYMain {
    width: 620px;
    text-align: center;
    border-top: thin inset;
    border-left: thin inset;
    border-right: thin inset;
    border-bottom: thin inset;
    background-color: ivory;
}

#MYSubFooter {
    height: 35px;
    background-color: #cccccc;
    background-repeat: repeat-x;
    background-position: left top;
    background-image: url(../images/bar.jpg);
    vertical-align: middle;
    text-align: center;
}

#MYFooter {
    height: 85px;
    background-color: lightsteelblue;
    vertical-align: middle;
    text-align: center;
}

#Data {
    width: 600px;
}

a:link, a:visited {
    color: darkblue;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    color: white;
    font-weight: bold;
}

li {
    display: block;
}

/*input.Farsi {*/
/*color: blue;*/
/*background-color: #ffff99;*/
/*direction: rtl;*/
/*text-align: justify;*/
/*font-size: 8pt;*/
/*font-family: Tahoma, Sans-Serif;*/
/*}*/

/*input.Latin {*/
/*color: blue;*/
/*background-color: #ffff99;*/
/*direction: ltr;*/
/*text-align: justify;*/
/*font-size: 8pt;*/
/*font-family: Verdana, Sans-Serif;*/
/*}*/
